version: '2'

services:
  db:
    image: mysql:5.7
    restart: always
    volumes:
      - ./provision:/docker-entrypoint-initdb.d
      - ./mysql-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: omeka
      MYSQL_PASSWORD: omeka

  db_admin:
    image: phpmyadmin/phpmyadmin
    restart: always
    links:
     - db:db
    ports:
      - "8080:80"

  omeka:
    depends_on:
      - db
    build: ./
    image: jromphf/omeka
    ports:
      - "80:80"
    volumes:
      - ./uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
      - ./omeka-files:/var/www/html/omeka/files
      - ./omekas-files:/var/www/html/omeka-s/files
    restart: always
